body {
    margin: 0;
    font-famiy: Arial, "Helvetica Neue", 
    Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}

#showcase{
    background-image:url('images/Lightbulb1');
    height: ;
}
}